page-m2p-sub2-modal {
  .m2p [col-3], .m2p [col-9] {
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  .m2p [col-4] {
    border-right: solid 1px #eee;
  }

  .m2p [col-3]:last-child, .m2p [col-9]:last-child, .m2p [col-4]:last-child {
    border-right: none;
  }

  .vertical-align-content {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }

  .vertical-align-content .badge {
    margin: auto;
  }

}
